.plan-card-container {
  box-shadow: 0 0 10px black;
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  padding-bottom: 20px;
}

.plan-card-container > div {
  padding-left: 20px;
  padding-right: 20px;
}

.border {
  width: 100%;
  border-top: 1px solid grey;
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.btn-container > button {
  width: 60%;
}
