.how-it-works {
  background: #d2544a !important;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin-bottom: 30px;
  margin-top: 10px;
}

.how-it-works:hover {
  color: #ececec;
  text-decoration: none;
  background: #cc3d33 !important;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

.sessions_wrapper {
  display: grid;
  width: auto;
  justify-content: center;
  place-items: stretch center;
  gap: 50px;
  box-sizing: content-box;
  margin-top: 40px;
}

@media (min-width: 1200px) {
  .sessions_wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 1200px) {
  .sessions_wrapper {
    grid-template-columns: 1fr;
  }
}
