* {
  font-family: "Poppins", "Roboto", "sans-serif";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background-color: #444444cc;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.padding-alignment {
  box-sizing: border-box;
}

@media (min-width: 700px) {
  .padding-alignment {
    padding: 0 120px;
  }
}

@media (max-width: 700px) {
  .padding-alignment {
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

iframe {
  /* position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; */
  height: 500px !important;
  width: 100% !important;
}
